sentence-transformers
langchain
fastapi
pypdf
chromadb
langchain_community
langchain_ollama
langchain_huggingface
langchain_chroma
datasets
evaluate
nltk
rouge_score
fastapi
uvicorn[standard]
httpx
hl7
pydantic
jinja2
fhir.resources
xmltodict
langdetect
